.main{
  margin-left: 10%;
}
.wrapper{
  display: flex;
}
.menu{
  border: 1px solid #eee;
  width: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.menu-item{
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
}
.menu-active{
  background-color: skyblue;
  color: #fff;
}
.content{
  margin-left: 15px;
  padding: 15px;
  border: 1px solid #eee;
  width: 500px;
  height: 500px;
}
.message-box{
  display: flex;
  justify-content: center;
}
.message-item{
  margin: 0 5px;
  cursor: default;
}

.menu-horizontal{
  margin: 15px;
}